src/Presentation/CapheVanPhong.Web/obj/
src/Presentation/CapheVanPhong.Web/bin/
src/Core/CapheVanPhong.Application/bin/
src/Core/CapheVanPhong.Application/obj/
src/Core/CapheVanPhong.Domain/obj/
src/Core/CapheVanPhong.Domain/bin/
src/Infrastructure/CapheVanPhong.Infrastructure/bin/
src/Infrastructure/CapheVanPhong.Infrastructure/obj/
tests/CapheVanPhong.Application.Tests/bin/
tests/CapheVanPhong.Application.Tests/obj/
tests/CapheVanPhong.Domain.Tests/bin/
tests/CapheVanPhong.Domain.Tests/obj/
tests/CapheVanPhong.Infrastructure.Tests/bin/
tests/CapheVanPhong.Infrastructure.Tests/obj/
.vs/
src/Presentation/CapheVanPhong.Web/wwwroot/public/img/
.claude/settings.local.json
