src/Presentation/CapheVanPhong.Web/obj/
src/Presentation/CapheVanPhong.Web/bin/
src/Core/CapheVanPhong.Application/bin/Debug/net10.0/CapheVanPhong.Application.deps.json
src/Core/CapheVanPhong.Application/bin/Debug/net10.0/CapheVanPhong.Application.dll
src/Core/CapheVanPhong.Application/obj/Debug/net10.0/CapheVanPhong.Application.assets.cache
src/Core/CapheVanPhong.Application/bin/Debug/net10.0/CapheVanPhong.Application.pdb
src/Core/CapheVanPhong.Application/bin/
src/Core/CapheVanPhong.Application/obj/
src/Core/CapheVanPhong.Domain/obj/Debug/net10.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
src/Core/CapheVanPhong.Domain/obj/project.nuget.cache
src/Infrastructure/CapheVanPhong.Infrastructure/bin/
src/Core/CapheVanPhong.Domain/obj/
src/Core/CapheVanPhong.Domain/bin/Debug/net10.0/CapheVanPhong.Domain.deps.json
src/Infrastructure/CapheVanPhong.Infrastructure/obj/
src/Core/CapheVanPhong.Domain/bin/
tests/CapheVanPhong.Application.Tests/bin/
tests/CapheVanPhong.Application.Tests/obj/
tests/CapheVanPhong.Domain.Tests/bin/
tests/CapheVanPhong.Domain.Tests/obj/
tests/CapheVanPhong.Infrastructure.Tests/bin/
tests/CapheVanPhong.Infrastructure.Tests/obj/
.vs/
