<div class="container-fluid footer text-white mt-5 pt-5 px-0 position-relative overlay-top">
    <div class="row mx-0 pt-5 px-sm-3 px-lg-5 mt-4">
        <div class="col-lg-3 col-md-6 mb-5">
            <h4 class="text-white text-uppercase mb-4" style="letter-spacing: 3px;">Liên Hệ</h4>
            <p><i class="fa fa-map-marker-alt mr-2"></i>52 Đường Đinh Tiên Hoàng, Xã Quảng Phú, Tỉnh ĐăkLăk</p>
            <p><i class="fa fa-phone-alt mr-2"></i>+84 901 379 789</p>
            <p class="m-0"><i class="fa fa-envelope mr-2"></i>info@caphevanphong.vn</p>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
            <h4 class="text-white text-uppercase mb-4" style="letter-spacing: 3px;">Theo Dõi Chúng Tôi</h4>
            <p>Theo dõi chúng tôi để cập nhật những ưu đãi mới nhất.</p>
            <div class="d-flex justify-content-start">
                <a class="btn btn-lg btn-outline-light btn-lg-square mr-2" href="#"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-lg btn-outline-light btn-lg-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-lg btn-outline-light btn-lg-square mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                <a class="btn btn-lg btn-outline-light btn-lg-square" href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
            <h4 class="text-white text-uppercase mb-4" style="letter-spacing: 3px;">Giờ Mở Cửa</h4>
            <div>
                <h6 class="text-white text-uppercase">Thứ Hai - Thứ Sáu</h6>
                <p>7:00 SA - 9:00 TỐI</p>
                <h6 class="text-white text-uppercase">Thứ Bảy - Chủ Nhật</h6>
                <p>8:00 SA - 10:00 TỐI</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
            <h4 class="text-white text-uppercase mb-4" style="letter-spacing: 3px;">Bản Tin</h4>
            <p>Đăng ký nhận bản tin để nhận ưu đãi và tin tức mới nhất từ chúng tôi.</p>
            <div class="w-100">
                <div class="input-group">
                    <input type="text" class="form-control border-light" style="padding: 25px;" placeholder="Email của bạn">
                    <div class="input-group-append">
                        <button class="btn btn-primary font-weight-bold px-3">Đăng Ký</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid text-center text-white border-top mt-4 py-4 px-sm-3 px-md-5"
        style="border-color: rgba(256, 256, 256, .1) !important;">
        <p class="mb-2 text-white">Bản quyền &copy; @DateTime.Now.Year <a class="font-weight-bold" href="/">Cà Phê Văn Phòng</a>. Bảo lưu mọi quyền.</p>
    </div>
</div>
